@if (member) {
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img
        class="card-img-top img-thumbnail"
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
      />
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last active:</strong>
          <p>{{ member.lastActive }}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.createdAt }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-grid">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!editForm.dirty"
            form="editForm"
          >
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <alert type="info" [dismissible]="true">
      <p>
        <strong>Information</strong> You have made changes. ANy unsaved changes
        will be lost
      </p>
    </alert>
    <tabset class="member-tabset">
      <tab heading="About {{ member.knownAs }}">
        <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
          <div class="form-group mb-2">
            <label class="h5">Description</label>
            <textarea
              name="introduction"
              class="form-control"
              [(ngModel)]="member.introduction"
            ></textarea>
          </div>
          <div class="form-group mb-2">
            <label class="h5">Looking For</label>
            <textarea
              name="lookingFor"
              class="form-control"
              [(ngModel)]="member.lookingFor"
            ></textarea>
          </div>

          <div class="form-group mb-2">
            <label class="h5">Interest </label>
            <textarea
              name="interest"
              class="form-control"
              [(ngModel)]="member.interest"
            ></textarea>
          </div>
          <div class="form-group mb-2">
            <label class="h5">Location Details </label>

            <div class="row">
              <div class="d-flex align-items-center col-md-6">
                <label class="me-2">City:</label>
                <input
                  name="city"
                  [(ngModel)]="member.city"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="d-flex align-items-center col-md-6">
                <label class="me-2">Country:</label>
                <input
                  name="country"
                  [(ngModel)]="member.country"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </form>
      </tab>

      <tab heading="Edit Photos" #photoTab="tab">
        @if(photoTab.active){

        <p>Hello</p>

        }
      </tab>
    </tabset>
  </div>
</div>
}

<style lang="scss">
  .img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
  }

  .card-body {
    padding: 0 25px;
  }

  .gallery {
    height: 500px;
  }

  /* .card-footer {
    padding: 10px 15px;
    border-top: none;
    background-color: #fff;
  } */
</style>
