<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="authService.currentUser$ | async">
          @for(nav of navlist; track nav){
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="{{ nav.link }}"
              routerLinkActive="active"
              >{{ nav.name }}</a
            >
          </li>
          }
        </ng-container>
      </ul>

      <div class="dropdown" *ngIf="authService.currentUser$ | async as user">
        <div class="dropdown">
          <a
            class="text-light dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Welcome {{ user?.username }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/members/edit">Profile</a>
            </li>
            <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
          </ul>
        </div>
      </div>
      <form
        *ngIf="!(authService.currentUser$ | async)"
        #loginForm="ngForm"
        class="d-flex ms-auto"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          type="text"
          placeholder="Username"
          class="form-control"
        />
        <input
          name="password"
          class="form-control mx-2"
          type="password"
          placeholder="password"
          [(ngModel)]="model.password"
        />
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>

<style lang="scss">
  .dropdown {
    a {
      cursor: pointer;
      text-decoration: none;
    }
  }
  a {
    cursor: pointer;
  }
</style>
